<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - My Website">
        My Website
    </title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">My Website</a>
    </div>
</nav>

<div class="container mt-4">

    <!-- Child pages are inserted here -->
    <div layout:fragment="content">

    </div>

</div>

<footer class="text-center mt-5">

    Copyright 2026

</footer>

</body>

</html>