<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>

	<!-- Link to your external CSS stylesheet -->
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<header>
		<h1 th:text="${title}">Welcome to My Website</h1>

	</header>

	<main>
		<p>This is where the main content of your web page goes.</p>
	</main>

	<footer>
		<p>&copy; 2026 My Website</p>
	</footer>

	<!-- Link to your external JavaScript file -->
	<script src="script.js"></script>
</body>

</html>